<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/style.min.css">
    
    <!-- Useful meta tags -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="An online store where you can buy watches, jewelry and other accessories. Also on this site you can create your own watch design, arrange delivery and pay for the order">
    <meta name="keywords" content="shop, online shop, store, watch, watches, volumenzeit, accessories, jewelry">
    
    <title>Volumenzeit | Not Found</title>
</head>
<body>
    <!-- Body -->

    <div class="page">
        
        <div class="not-found">
            <div class="container">
                <div class="not-found__inner">
                    <h1 class="not-found__text">Oops, SOmething <br> Went Wrong</h1>
                    <img src="../assets/images/not_found.svg" alt="404" class="not-found__img">
        
                    <a href="index.html" class="not-found__btn">Return to Homepage</a>
                </div>
            </div>
        </div>    </div>
</body>
</html>
