.account {
    background-color: $colorBgGray;
    padding: 90px 0;

    &__title {
        color: $colorTextBlack;
        @include adaptSize(46, 32);
        font-weight: 500;
        margin-bottom: 15px;
        line-height: 1;
        text-align: center;
    }

    &__subtitle {
        @include adaptSize(14, 12);
        line-height: 2;
        margin-bottom: 60px;
        text-align: center;
    }

    &__block {
        padding: 50px 65px;
        border: 1px solid $colorBorder;
        border-radius: 10px;
        margin-bottom: 20px;
        background-color: $colorWhite;
        max-height: 600px;
        overflow-y: auto;
        @include scroll();

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__block-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    &__block-title {
        font-size: 20px;
        font-weight: 600;
    }

    &__btn {
        color: $colorBlue;
        display: none;
        transform: scale(0);
        transition: transform .2s linear;

        &.active {
            display: block;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &__text {
        font-size: 14px;
        display: none;

        &.active {
            display: block;
        }
    }

    &__form {
        margin-top: 15px;
    }

    &__item {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__item-input {
        display: flex;
        align-items: center;
        color: $colorTextBlack;

        &--orders {
            justify-content: space-between;
            margin-bottom: 40px;
            border-radius: 5px;
            padding: 10px 15px;
            position: relative;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &--delivered {
            border: 2px solid $colorBlue;

            & .account__status {
                color: $colorBlue;
            }
        }

        &--processing {
            border: 2px solid $colorProcessing;

            & .account__status {
                color: $colorProcessing;
            }
        }

        &--received {
            border: 2px solid $colorReceived;

            & .account__status {
                color: $colorReceived;
            }
        }

        &--shipped {
            border: 2px solid $colorShipped;

            & .account__status {
                color: $colorShipped;
            }
        }

        &--canceled {
            border: 2px solid $colorCanceled;

            & .account__status {
                color: $colorCanceled;
            }
        }
    }

    &__status {
        position: absolute;
        background-color: $colorWhite;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: $zDefault;
        padding: 0 20px;
        font-size: 16px;
        font-weight: 500;
    }

    &__input,
    &__label,
    &__date,
    &__products,
    &__price {
        color: $colorTextBlack;
        font-size: 14px;
    }

    &__label {
        margin-right: 5px;
    }

    &__date {
        margin-right: 15px;
        flex-shrink: 0;
    }

    &__input {
        padding: 2px 5px;
        border-radius: 5px;
        background-color: $colorWhite;
        transition: background-color .2s linear;
        cursor: default;

        &.active {
            background-color: lighten($colorBlue, 25%);
        }

        &.error {
            background-color: lighten($colorError, 35%);
        }
    }

    &__order {
        display: flex;
        align-items: center;
        padding-right: 20px;
    }

    &__products {
        line-height: 1.3;
    }
}