// Colors
$colorText: #939393;
$colorTextWhite: #fff;
$colorTextBlack: #000;
$colorTextLight: #DEDEDE;
$colorBg: #fff;
$colorBgGray: #F9FAFE;

$colorWhite: #fff;
$colorBlack: #000;
$colorBlue: #735CFF;
$colorDarkBlue: #26337A;
$colorPink: #FF8585;
$colorGray: #B9B7BC;
$colorBorder: #EAECF5;
$colorError: #c52020;
$colorSuccess: #1b8517;

// Z index
$zLow: -1;
$zBg: 0;
$zDefault: 1;
$z10: 10;
$zHeader: 100;
$zAuth: 1000;
$zCart: 10000;
$zModal: 100000;
