<section class="about">
    <div class="container">
        <div class="about__inner">
            <div class="about__content">
                <h2 class="about__title">About us</h2>

                <p class="about__subtitle">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Accumsan 
                    volutpat tristique metus, nibh massa quam iaculis lectus. A dui nam 
                    phasellus porttitor nisi. Eget a quam est, eget dictum nisi. Sit donec 
                    aenean vivamus sagittis, blandit. Eleifend bibendum aliquet orci risus,
                    velit. Lectus tellus amet
                </p>
            </div>

            <div class="about__right">
                <!-- <img src="../assets/images/about_shadow.png" alt="Тень" class="about__shadow"> -->
                <div class="about__video-container">
                    <div class="about__video-bg"></div>

                    <svg class="about__play">
                        <use xlink:href="#play"></use>
                    </svg>

                    <video class="about__video">
                        <source src="../assets/images/VOLUMENZEIT-Volumetric-Timepieces.webm" type="video/webm">
                        <source src="../assets/images/VOLUMENZEIT-Volumetric-Timepieces.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
</section>