<section class="answer">
    <img src="../assets/images/delivery_shadow.png" alt="Shadow" class="answer__shadow">
    
    <div class="container">
        <div class="answer__inner">
            <h2 class="answer__title">Cant Find The Answer?</h2>
            <p class="answer__subtitle">
                Get int ouch with our proffessional team and we will get your answer in less then 24h
            </p>
            <button class="answer__btn">Contact Us</button>
        </div>
    </div>
</section>