<div class="auth">
    <div class="container">
        <div class="auth__container">
            <div class="auth__content">
                <div class="auth__tabs">
                    <button class="auth__tab" data-tab="#tabLogin" id="login">Login</button>
                    <button class="auth__tab" data-tab="#tabCreate" id="reg">Create Account</button>
                </div>

                <div class="auth__blocks">
                    <div class="auth__block" id="tabLogin">
                        <h2 class="auth__title">WELCOME BACK</h2>
                        <p class="auth__subtitle">Sign into your existing account to earn rewards, check existing orders and more</p>
                        
                        <form action="post" class="auth__form" id="formLogin">
                            <div class="auth__form-item">
                                <input type="email" class="auth__input" name="email" placeholder="Email" id="loginEmail">
                                <div class="error__message"></div>
                            </div>
                            
                            <div class="auth__form-item">
                                <input type="password" class="auth__input" name="pass" placeholder="Password" id="loginPass">
                                <div class="error__message"></div>
                            </div>

                            <div class="error__form">An error has occurred</div>
                            <button class="auth__submit">Sign in</button>

                            <h3 class="auth__express-title">Express sign in</h3>

                            <div class="auth__express">
                                <button class="auth__express-btn">
                                    <svg class="auth__express-svg">
                                        <use xlink:href="#facebook"></use>
                                    </svg>

                                    Sign in
                                </button>

                                <button class="auth__express-btn">
                                    <svg class="auth__express-svg">
                                        <use xlink:href="#google"></use>
                                    </svg>

                                    Sign in
                                </button>
                            </div>
                        </form>
                    </div>

                    <div class="auth__block active" id="tabCreate">
                        <h2 class="auth__title">new to volumenzeit?</h2>
                        <p class="auth__subtitle">Create a new account</p>
                        
                        <form action="post" class="auth__form" id="formReg">
                            <div class="auth__form-item">
                                <input type="text" class="auth__input" name="firstname" placeholder="First Name" id="regName">
                                <div class="error__message"></div>
                            </div>
                            
                            <div class="auth__form-item">
                                <input type="text" class="auth__input" name="lastname" placeholder="Last Name" id="regLastname">
                                <div class="error__message"></div>
                            </div>
                            
                            <p class="auth__birth">Date of birth</p>
                            <div class="auth__inputs">
                                <div class="sort">
                                    <button class="sort__btn" id="regBirthMonth">January</button>
                                
                                    <div class="sort__inner">
                                        <ul class="sort-sub">
                                            <li class="sort-sub__item">
                                                <a href="#" class="sort-sub__link">January</a>
                                            </li>

                                            <li class="sort-sub__item">
                                                <a href="#" class="sort-sub__link">February</a>
                                            </li>
                                
                                            <li class="sort-sub__item">
                                                <a href="#" class="sort-sub__link">March</a>
                                            </li>
                                
                                            <li class="sort-sub__item">
                                                <a href="#" class="sort-sub__link">April</a>
                                            </li>
                                
                                            <li class="sort-sub__item">
                                                <a href="#" class="sort-sub__link">May</a>
                                            </li>
                                
                                            <li class="sort-sub__item">
                                                <a href="#" class="sort-sub__link">June</a>
                                            </li>
    
                                            <li class="sort-sub__item">
                                                <a href="#" class="sort-sub__link">July</a>
                                            </li>
    
                                            <li class="sort-sub__item">
                                                <a href="#" class="sort-sub__link">August</a>
                                            </li>
    
                                            <li class="sort-sub__item">
                                                <a href="#" class="sort-sub__link">September</a>
                                            </li>
    
                                            <li class="sort-sub__item">
                                                <a href="#" class="sort-sub__link">October</a>
                                            </li>
    
                                            <li class="sort-sub__item">
                                                <a href="#" class="sort-sub__link">November</a>
                                            </li>

                                            <li class="sort-sub__item">
                                                <a href="#" class="sort-sub__link">December</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="error__message"></div>
                                </div>   

                                <div class="sort">
                                    <button class="sort__btn" id="regBirthDay">01</button>
                                
                                    <div class="sort__inner">
                                        <ul class="sort-sub">
                                            <li class="sort-sub__item">
                                                <a href="#" class="sort-sub__link">01</a>
                                            </li>
                                
                                            <li class="sort-sub__item">
                                                <a href="#" class="sort-sub__link">02</a>
                                            </li>
                                
                                            <li class="sort-sub__item">
                                                <a href="#" class="sort-sub__link">03</a>
                                            </li>
                                
                                            <li class="sort-sub__item">
                                                <a href="#" class="sort-sub__link">04</a>
                                            </li>
                                
                                            <li class="sort-sub__item">
                                                <a href="#" class="sort-sub__link">05</a>
                                            </li>
    
                                            <li class="sort-sub__item">
                                                <a href="#" class="sort-sub__link">06</a>
                                            </li>
    
                                            <li class="sort-sub__item">
                                                <a href="#" class="sort-sub__link">07</a>
                                            </li>
    
                                            <li class="sort-sub__item">
                                                <a href="#" class="sort-sub__link">08</a>
                                            </li>
    
                                            <li class="sort-sub__item">
                                                <a href="#" class="sort-sub__link">09</a>
                                            </li>
    
                                            <li class="sort-sub__item">
                                                <a href="#" class="sort-sub__link">10</a>
                                            </li>

                                            <li class="sort-sub__item">
                                                <a href="#" class="sort-sub__link">11</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="error__message"></div>
                                </div>
                            </div>

                            <div class="auth__form-item">
                                <input type="tel" class="auth__input" name="phone" placeholder="Phone Number" id="regPhone">
                                <div class="error__message"></div>
                            </div>
                            
                            <div class="auth__inputs">
                                <div class="auth__form-item">
                                    <input type="email" class="auth__input" name="email" placeholder="Email" id="regEmail">
                                    <div class="error__message"></div>
                                </div>

                                <div class="auth__form-item">
                                    <input type="email" class="auth__input" name="confirm_email" placeholder="Confirm Email" id="regConfirmEmail">
                                    <div class="error__message"></div>
                                </div>
                            </div>

                            <div class="auth__inputs">
                                <div class="auth__form-item">
                                    <input type="password" class="auth__input" name="pass" placeholder="Password" id="regPass">
                                    <div class="error__message"></div>
                                </div>

                                <div class="auth__form-item">
                                    <input type="password" class="auth__input" name="confirm_pass" placeholder="Confirm Password" id="regConfirmPass">
                                    <div class="error__message"></div>
                                </div>
                            </div>

                            <div class="auth__signup">
                                <input type="checkbox" class="auth__signup-input" name="signup" id="signup" id="regCheckbox">

                                <label for="signup" class="auth__signup-label">
                                    <div class="auth__signup-checkbox">
                                        <svg class="auth__signup-check">
                                            <use xlink:href="#check"></use>
                                        </svg>
                                    </div>
                                    <p class="auth__signup-text">Sign-up to receive the latest updates and promotions</p>
                                </label>
                            </div>

                            <div class="error__form">An error has occurred</div>
                            <div class="success__form">You have registered</div>
                            <button class="auth__submit auth__create">Create Account</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="auth__bg">
    <img src="../assets/images/delivery_shadow.png" alt="Shadow" class="auth__shadow">
</div>