<section class="build-watch">
    <div class="container">
        <div class="build-watch__inner">
            <div class="build-watch__main">
                <h1 class="build-watch__title">Build your Watch</h1>

                <div class="build-watch__view">
                    <div class="build-watch__photo-main">
                        <picture>
                            <source srcset="../assets/images/view-main.webp" type="image/webp">
                            <img src="../assets/images/view-main.png" alt="Watch" class="build-watch__img">
                        </picture>
                    </div>

                    <div class="build-watch__photo-secondary">
                        <picture>
                            <source srcset="../assets/images/view.webp" type="image/webp">
                            <img src="../assets/images/view.png" alt="Watch" class="build-watch__img">
                        </picture>
                    </div>

                    <div class="build-watch__photo-secondary">
                        <picture>
                            <source srcset="../assets/images/view.webp" type="image/webp">
                            <img src="../assets/images/view.png" alt="Watch" class="build-watch__img">
                        </picture>
                    </div>

                    <div class="build-watch__photo-secondary">
                        <picture>
                            <source srcset="../assets/images/view.webp" type="image/webp">
                            <img src="../assets/images/view.png" alt="Watch" class="build-watch__img">
                        </picture>
                    </div>
                </div>

                <div class="build-watch__about">
                    <h4 class="build-watch__about-title">About The Product</h4>

                    <p class="build-watch__about-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Accumsan 
                        volutpat tristique metus, nibh massa quam iaculis lectus. A dui 
                        nam phasellus porttitor nisi. Eget a quam est, eget dictum nisi. 
                        Sit donec aenean vivamus sagittis, blandit. Eleifend bibendum 
                        aliquet orci risus, velit. Lectus tellus amet Lorem ipsum dolor 
                        sit amet, consectetur adipiscing elit. Accumsan volutpat tristique
                        metus, nibh massa quam iaculis lectus. A dui nam phasellus 
                        porttitor nisi. Eget a quam est, eget dictum nisi. Sit donec 
                        aenean vivamus sagittis, blandit. Eleifend bibendum aliquet 
                        orci risus, velit. Lectus tellus amet Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit. Accumsan volutpat tristique metus, 
                        nibh massa quam iaculis lectus. A dui nam phasellus porttitor 
                        nisi. Eget a quam est, eget dictum nisi. Sit donec aenean vivamus 
                        sagittis, blandit. Eleifend bibendum aliquet o
                    </p>
                </div>
            </div>

            <div class="build-watch__right">
                <a href="../index.html" class="build-watch__return">
                    <svg class="build-watch__arrow">
                        <use xlink:href="#prev"></use>
                    </svg>

                    Back To Home
                </a>

                <form action="post" class="build-watch__form">
                    <div class="build-watch__form-item">
                        <h6 class="build-watch__form-title">Case Color</h6>

                        <div class="build-watch__inputs">
                            <div class="build-watch__color">
                                <input type="radio" class="build-watch__radio" name="case_color" id="caseColor1">
                                <label for="caseColor1" class="build-watch__label build-watch__label--color black"></label>
                                <span class="build-watch__hint">
                                    <span class="build-watch__hint-inner">
                                        Black
                                    </span>
                                </span>
                            </div>

                            <div class="build-watch__color">
                                <input type="radio" class="build-watch__radio" name="case_color" id="caseColor2">
                                <label for="caseColor2" class="build-watch__label build-watch__label--color white"></label>
                                <span class="build-watch__hint">
                                    <span class="build-watch__hint-inner">
                                        White
                                    </span>
                                </span>
                            </div>

                            <div class="build-watch__color">
                                <input type="radio" class="build-watch__radio" name="case_color" id="caseColor3">
                                <label for="caseColor3" class="build-watch__label build-watch__label--color blue"></label>
                                <span class="build-watch__hint">
                                    <span class="build-watch__hint-inner">
                                        Blue
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="build-watch__form-item">
                        <h6 class="build-watch__form-title">Dial Design</h6>

                        <div class="build-watch__inputs">
                            <div class="build-watch__color">
                                <input type="radio" class="build-watch__radio" name="dial_design" id="dialDesign1">
                                <label for="dialDesign1" class="build-watch__label">
                                    <picture class="build-watch__picture">
                                        <source srcset="../assets/images/dial1.webp" type="image/webp">
                                        <img src="../assets/images/dial1.png" alt="Dial 1" class="build-watch__form-img">
                                    </picture>
                                </label>

                                <span class="build-watch__hint">
                                    <span class="build-watch__hint-inner">
                                        Dial 1
                                    </span>
                                </span>
                            </div>

                            <div class="build-watch__color">
                                <input type="radio" class="build-watch__radio" name="dial_design" id="dialDesign2">
                                <label for="dialDesign2" class="build-watch__label">
                                    <picture class="build-watch__picture">
                                        <source srcset="../assets/images/dial2.webp" type="image/webp">
                                        <img src="../assets/images/dial2.png" alt="Dial 2" class="build-watch__form-img">
                                    </picture>
                                </label>

                                <span class="build-watch__hint">
                                    <span class="build-watch__hint-inner">
                                        Dial 2
                                    </span>
                                </span>
                            </div>

                            <div class="build-watch__color">
                                <input type="radio" class="build-watch__radio" name="dial_design" id="dialDesign3">
                                <label for="dialDesign3" class="build-watch__label">
                                    <picture class="build-watch__picture">
                                        <source srcset="../assets/images/dial3.webp" type="image/webp">
                                        <img src="../assets/images/dial3.png" alt="Dial 3" class="build-watch__form-img">
                                    </picture>
                                </label>

                                <span class="build-watch__hint">
                                    <span class="build-watch__hint-inner">
                                        Dial 3
                                    </span>
                                </span>
                            </div>

                            <div class="build-watch__color">
                                <input type="radio" class="build-watch__radio" name="dial_design" id="dialDesign4">
                                <label for="dialDesign4" class="build-watch__label">
                                    <picture class="build-watch__picture">
                                        <source srcset="../assets/images/dial4.webp" type="image/webp">
                                        <img src="../assets/images/dial4.png" alt="Dial 4" class="build-watch__form-img">
                                    </picture>
                                </label>

                                <span class="build-watch__hint">
                                    <span class="build-watch__hint-inner">
                                        Dial 4
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="build-watch__form-item">
                        <h6 class="build-watch__form-title">Dial Color</h6>

                        <div class="build-watch__inputs">
                            <div class="build-watch__color">
                                <input type="radio" class="build-watch__radio" name="dial_color" id="dialColor1">
                                <label for="dialColor1" class="build-watch__label build-watch__label--color orange"></label>
                                <span class="build-watch__hint">
                                    <span class="build-watch__hint-inner">
                                        Orange
                                    </span>
                                </span>
                            </div>

                            <div class="build-watch__color">
                                <input type="radio" class="build-watch__radio" name="dial_color" id="dialColor2">
                                <label for="dialColor2" class="build-watch__label build-watch__label--color motley"></label>
                                <span class="build-watch__hint">
                                    <span class="build-watch__hint-inner">
                                        Motley
                                    </span>
                                </span>
                            </div>

                            <div class="build-watch__color">
                                <input type="radio" class="build-watch__radio" name="dial_color" id="dialColor3">
                                <label for="dialColor3" class="build-watch__label build-watch__label--color fiolet"></label>
                                <span class="build-watch__hint">
                                    <span class="build-watch__hint-inner">
                                        Fiolet
                                    </span>
                                </span>
                            </div>

                            <div class="build-watch__color">
                                <input type="radio" class="build-watch__radio" name="dial_color" id="dialColor4">
                                <label for="dialColor4" class="build-watch__label build-watch__label--color gray"></label>
                                <span class="build-watch__hint">
                                    <span class="build-watch__hint-inner">
                                        Gray
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="build-watch__form-item">
                        <h6 class="build-watch__form-title">Strap Design</h6>

                        <div class="build-watch__inputs">
                            <div class="build-watch__strap">
                                <div class="build-watch__color">
                                    <input type="radio" class="build-watch__radio" name="strap_design" id="strapDesign1">
                                    <label for="strapDesign1" class="build-watch__label">
                                        <picture class="build-watch__picture">
                                            <source srcset="../assets/images/strap1.webp" type="image/webp">
                                            <img src="../assets/images/strap1.png" alt="Strap 1" class="build-watch__form-img">
                                        </picture>
                                    </label>
    
                                    <span class="build-watch__hint">
                                        <span class="build-watch__hint-inner">
                                            Strap 1
                                        </span>
                                    </span>
                                </div>
    
                                <div class="build-watch__color">
                                    <input type="radio" class="build-watch__radio" name="strap_design" id="strapDesign2">
                                    <label for="strapDesign2" class="build-watch__label">
                                        <picture class="build-watch__picture">
                                            <source srcset="../assets/images/strap2.webp" type="image/webp">
                                            <img src="../assets/images/strap2.png" alt="Strap 2" class="build-watch__form-img">
                                        </picture>
                                    </label>
    
                                    <span class="build-watch__hint">
                                        <span class="build-watch__hint-inner">
                                            Strap 2
                                        </span>
                                    </span>
                                </div>
    
                                <div class="build-watch__color">
                                    <input type="radio" class="build-watch__radio" name="strap_design" id="strapDesign3">
                                    <label for="strapDesign3" class="build-watch__label">
                                        <picture class="build-watch__picture">
                                            <source srcset="../assets/images/strap3.webp" type="image/webp">
                                            <img src="../assets/images/strap3.png" alt="Strap 3" class="build-watch__form-img">
                                        </picture>
                                    </label>
    
                                    <span class="build-watch__hint">
                                        <span class="build-watch__hint-inner">
                                            Strap 3
                                        </span>
                                    </span>
                                </div>
                            </div>
                            
                            <div class="build-watch__strap">
                                <div class="build-watch__color">
                                    <input type="radio" class="build-watch__radio" name="strap_design" id="strapDesign4">
                                    <label for="strapDesign4" class="build-watch__label">
                                        <picture class="build-watch__picture">
                                            <source srcset="../assets/images/strap_leatcher1.webp" type="image/webp">
                                            <img src="../assets/images/strap_leatcher1.png" alt="Strap 4" class="build-watch__form-img">
                                        </picture>
                                    </label>
    
                                    <span class="build-watch__hint">
                                        <span class="build-watch__hint-inner">
                                            Strap 4
                                        </span>
                                    </span>
                                </div>
    
                                <div class="build-watch__color">
                                    <input type="radio" class="build-watch__radio" name="strap_design" id="strapDesign5">
                                    <label for="strapDesign5" class="build-watch__label">
                                        <picture class="build-watch__picture">
                                            <source srcset="../assets/images/strap_leatcher2.webp" type="image/webp">
                                            <img src="../assets/images/strap_leatcher2.png" alt="Strap 5" class="build-watch__form-img">
                                        </picture>
                                    </label>
    
                                    <span class="build-watch__hint">
                                        <span class="build-watch__hint-inner">
                                            Strap 5
                                        </span>
                                    </span>
                                </div>
    
                                <div class="build-watch__color">
                                    <input type="radio" class="build-watch__radio" name="strap_design" id="strapDesign6">
                                    <label for="strapDesign6" class="build-watch__label">
                                        <picture class="build-watch__picture">
                                            <source srcset="../assets/images/strap_leatcher3.webp" type="image/webp">
                                            <img src="../assets/images/strap_leatcher3.png" alt="Strap 6" class="build-watch__form-img">
                                        </picture>
                                    </label>
    
                                    <span class="build-watch__hint">
                                        <span class="build-watch__hint-inner">
                                            Strap 6
                                        </span>
                                    </span>
                                </div>
                            </div>

                            <div class="build-watch__strap">
                                <div class="build-watch__color">
                                    <input type="radio" class="build-watch__radio" name="strap_design" id="strapDesign7">
                                    <label for="strapDesign7" class="build-watch__label">
                                        <picture class="build-watch__picture">
                                            <source srcset="../assets/images/strap_metal1.webp" type="image/webp">
                                            <img src="../assets/images/strap_metal1.png" alt="Strap 7" class="build-watch__form-img">
                                        </picture>
                                    </label>
    
                                    <span class="build-watch__hint">
                                        <span class="build-watch__hint-inner">
                                            Strap 7
                                        </span>
                                    </span>
                                </div>
    
                                <div class="build-watch__color">
                                    <input type="radio" class="build-watch__radio" name="strap_design" id="strapDesign8">
                                    <label for="strapDesign8" class="build-watch__label">
                                        <picture class="build-watch__picture">
                                            <source srcset="../assets/images/strap_metal2.webp" type="image/webp">
                                            <img src="../assets/images/strap_metal2.png" alt="Strap 8" class="build-watch__form-img">
                                        </picture>
                                    </label>
    
                                    <span class="build-watch__hint">
                                        <span class="build-watch__hint-inner">
                                            Strap 8
                                        </span>
                                    </span>
                                </div>
    
                                <div class="build-watch__color">
                                    <input type="radio" class="build-watch__radio" name="strap_design" id="strapDesign9">
                                    <label for="strapDesign9" class="build-watch__label">
                                        <picture class="build-watch__picture">
                                            <source srcset="../assets/images/strap_metal3.webp" type="image/webp">
                                            <img src="../assets/images/strap_metal3.png" alt="Strap 9" class="build-watch__form-img">
                                        </picture>
                                    </label>
    
                                    <span class="build-watch__hint">
                                        <span class="build-watch__hint-inner">
                                            Strap 9
                                        </span>
                                    </span>
                                </div>

                                <div class="build-watch__color">
                                    <input type="radio" class="build-watch__radio" name="strap_design" id="strapDesign10">
                                    <label for="strapDesign10" class="build-watch__label">
                                        <picture class="build-watch__picture">
                                            <source srcset="../assets/images/strap_metal4.webp" type="image/webp">
                                            <img src="../assets/images/strap_metal4.png" alt="Strap 10" class="build-watch__form-img">
                                        </picture>
                                    </label>
    
                                    <span class="build-watch__hint">
                                        <span class="build-watch__hint-inner">
                                            Strap 10
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="build-watch__form-item">
                        <div class="build-watch__extra">
                            <input type="radio" class="build-watch__extra-input" name="extra" id="extra1">

                            <label for="extra1" class="build-watch__extra-label">
                                <div class="build-watch__extra-flag">
                                    <img src="../assets/images/check.svg" alt="Check" class="build-watch__extra-check">
                                </div>

                                Extra Strap
                            </label>
                        </div>

                        <div class="build-watch__extra">
                            <input type="radio" class="build-watch__extra-input" name="extra" id="extra2">

                            <label for="extra2" class="build-watch__extra-label">
                                <div class="build-watch__extra-flag">
                                    <img src="../assets/images/check.svg" alt="Check" class="build-watch__extra-check">
                                </div>
                                
                                Laser Engraving
                            </label>
                        </div>
                    </div>

                    <div class="build-watch__form-footer">
                        <div class="build-watch__price">$15,588</div>
                        <button class="build-watch__btn">Place an Order</button>
                    </div>
                </form>

                <div class="build-watch__specifications">
                    <h3 class="build-watch__specifications-title">Specifications</h3>
                
                    <ul class="build-watch__specification specification">
                        <li class="specification__item">
                            <span class="build-watch__specification-name">Case:</span>
                            <span class="build-watch__specification-value">316L Stainless-steel</span>
                        </li>
    
                        <li class="specification__item">
                            <span class="build-watch__specification-name">Coating:</span>
                            <span class="build-watch__specification-value">Color anodized anti-scratch</span>
                        </li>
    
                        <li class="specification__item">
                            <span class="build-watch__specification-name">Glass:</span>
                            <span class="build-watch__specification-value">Sapphire Crystal</span>
                        </li>
    
                        <li class="specification__item">
                            <span class="build-watch__specification-name">Straps:</span>
                            <span class="build-watch__specification-value">22mm Stainless-steel bracelet</span>
                        </li>
    
                        <li class="specification__item">
                            <span class="build-watch__specification-name">Case Size:</span>
                            <span class="build-watch__specification-value">42mm</span>
                        </li>
    
                        <li class="specification__item">
                            <span class="build-watch__specification-name">Case Color:</span>
                            <span class="build-watch__specification-value">chamfered brush with mirror polish</span>
                        </li>
    
                        <li class="specification__item">
                            <span class="build-watch__specification-name">Dial Color:</span>
                            <span class="build-watch__specification-value">Black Metallic</span>
                        </li>
                        
                        <li class="specification__item">
                            <span class="build-watch__specification-name">Water Resistance:</span>
                            <span class="build-watch__specification-value">5 ATM/50 meters</span>
                        </li>
    
                        <li class="specification__item">
                            <span class="build-watch__specification-name">Straps:</span>
                            <span class="build-watch__specification-value">Quick release</span>
                        </li>
    
                        <li class="specification__item">
                            <span class="build-watch__specification-name">Movement:</span>
                            <span class="build-watch__specification-value">Movement: Swiss Parts RONDA 762E</span>
                        </li>
    
                        <li class="specification__item">
                            <span class="build-watch__specification-name">Instantaneous rate:</span>
                            <span class="build-watch__specification-value">-10/ +20 sec/month</span>
                        </li>
    
                        <li class="specification__item">
                            <span class="build-watch__specification-name">Standard Battery life:</span>
                            <span class="build-watch__specification-value">10 years</span>
                        </li>
                    </ul>
                </div>
                
                <div class="build-watch__return-container">
                    <a href="../index.html" class="build-watch__return build-watch__return--mobile">
                        <svg class="build-watch__arrow">
                            <use xlink:href="#prev"></use>
                        </svg>
    
                        Back To Home
                    </a>
                </div>

                <div class="build-watch__about--mobile">
                    <h4 class="build-watch__about-title">About The Product</h4>

                    <p class="build-watch__about-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Accumsan 
                        volutpat tristique metus, nibh massa quam iaculis lectus. A dui 
                        nam phasellus porttitor nisi. Eget a quam est, eget dictum nisi. 
                        Sit donec aenean vivamus sagittis, blandit. Eleifend bibendum 
                        aliquet orci risus, velit. Lectus tellus amet Lorem ipsum dolor 
                        sit amet, consectetur adipiscing elit. Accumsan volutpat tristique
                        metus, nibh massa quam iaculis lectus. A dui nam phasellus 
                        porttitor nisi. Eget a quam est, eget dictum nisi. Sit donec 
                        aenean vivamus sagittis, blandit. Eleifend bibendum aliquet 
                        orci risus, velit. Lectus tellus amet Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit. Accumsan volutpat tristique metus, 
                        nibh massa quam iaculis lectus. A dui nam phasellus porttitor 
                        nisi. Eget a quam est, eget dictum nisi. Sit donec aenean vivamus 
                        sagittis, blandit. Eleifend bibendum aliquet o
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>