<aside class="cart">
    <div class="cart__header">
        <h2 class="cart__title">Your cart</h2>

        <button class="cart__close-btn">
            <svg class="cart__close">
                <use xlink:href="#close"></use>
            </svg>
        </button>
    </div>

    <div class="cart__products">
        <div class="cart-product__item">
            <div class="cart-product__photo">
                <picture>
                    <source srcset="../assets/images/cart1.webp" type="image/webp">
                    <img src="../assets/images/cart1.png" alt="Product 1" class="cart-product__img">
                </picture>

            </div>

            <div class="cart-product__content">
                <h5 class="cart-product__title">Urban Eagle Urban Eagle Urban Eagle Urban Eagle Urban Eagle Urban Eagle Urban Eagle</h5>
                <p class="cart-product__brand">Volumenzeit S 7</p>
                <div class="cart-product__price">$15,588</div>

                <div class="cart-product__colors">
                    <div class="cart-product__color">
                        <div class="cart-product__color-example black"></div>
                        <div class="cart-product__color-text">Case Color</div>
                    </div>

                    <div class="cart-product__color">
                        <div class="cart-product__color-example orange"></div>
                        <div class="cart-product__color-text">Strap Colors</div>
                    </div>
                </div>
            </div>

            <button class="cart__delete-btn">
                <svg class="cart__delete">
                    <use xlink:href="#delete"></use>
                </svg>
            </button>
        </div>

        <div class="cart-product__item">
            <div class="cart-product__photo">
                <picture>
                    <source srcset="../assets/images/cart2.webp" type="image/webp">
                    <img src="../assets/images/cart2.png" alt="Product 2" class="cart-product__img">
                </picture>

            </div>

            <div class="cart-product__content">
                <h5 class="cart-product__title">Urban Eagle Urban Eagle Urban Eagle Urban Eagle Urban Eagle Urban Eagle Urban Eagle</h5>
                <p class="cart-product__brand">Volumenzeit S 7</p>
                <div class="cart-product__price">$15,588</div>

                <div class="cart-product__colors">
                    <div class="cart-product__color">
                        <div class="cart-product__color-example black"></div>
                        <div class="cart-product__color-text">Case Color</div>
                    </div>

                    <div class="cart-product__color">
                        <div class="cart-product__color-example orange"></div>
                        <div class="cart-product__color-text">Strap Colors</div>
                    </div>
                </div>
            </div>

            <button class="cart__delete-btn">
                <svg class="cart__delete">
                    <use xlink:href="#delete"></use>
                </svg>
            </button>
        </div>

        <button class="cart__products-btn" id="btnMatching">Add A Matching Item</button>

        <div class="cart__add active">
            <div class="cart__add-item">
                <div class="cart__add-photo">
                    <picture>
                        <source srcset="../assets/images/add.webp" type="image/webp">
                        <img src="../assets/images/add.png" alt="Product 1" class="cart__add-img">
                    </picture>

                </div>

                <div class="cart__add-content">
                    <p class="cart__add-brand">Volumenzeit S 7</p>
                    <div class="cart__add-price">$15,588</div>
                    <button class="cart__add-btn">
                        <img class="cart__add-plus" src="../assets/images/plus.svg" alt="Плюс">

                        Add item
                    </button>
                </div>
            </div>

            <div class="cart__add-item">
                <div class="cart__add-photo">
                    <picture>
                        <source srcset="../assets/images/add.webp" type="image/webp">
                        <img src="../assets/images/add.png" alt="Product 2" class="cart__add-img">
                    </picture>
                </div>

                <div class="cart__add-content">
                    <p class="cart__add-brand">Volumenzeit S 7</p>
                    <div class="cart__add-price">$15,588</div>
                    <button class="cart__add-btn">
                        <img class="cart__add-plus" src="../assets/images/plus.svg" alt="Плюс">

                        Add item
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="cart__footer">
        <ul class="cart__prices">
            <li class="cart__price">
                <span class="cart__price-text">Shupping UPS Standard</span>
                <span class="cart__price-number">$12</span>
            </li>

            <li class="cart__price">
                <span class="cart__price-text">Discount 15% Off</span>
                <span class="cart__price-number">$1250</span>
            </li>

            <li class="cart__price">
                <span class="cart__price-text">Grand Total</span>
                <span class="cart__price-number">$24,588</span>
            </li>
        </ul>

        <a href="checkout.html" class="cart__checkout">Go To Checkout</a>
    </div>
</aside>