<div class="checkout">
    <div class="container">
        <form action="post" class="checkout__inner">
            <div class="checkout__accordions">
                <div class="accordion active" id="accordionBasic">
                    <div class="accordion__header">
                        <h3 class="accordion__title">Basic Info</h3>

                        <img src="../assets/images/arrow_top.svg" alt="Arrow top" class="accordion__arrow">
                    </div>

                    <div class="accordion__container">
                        <div class="accordion__inner">
                            <div class="accordion__input-item">
                                <input type="email" class="accordion__input" placeholder="Email" name="email" id="accordionEmail">
                                <div class="error__message"></div> 
                            </div>

                            <div class="accordion__input-item">
                                <input type="text" class="accordion__input" placeholder="First Name" name="firstname" id="accordionName">
                                <div class="error__message"></div> 
                            </div>

                            <div class="accordion__input-item">
                                <input type="text" class="accordion__input" placeholder="Last Name" name="lastname" id="accordionLastname">
                                <div class="error__message"></div> 
                            </div>

                            <div class="accordion__input-item">
                                <input type="tel" class="accordion__input" placeholder="Phone Number" name="phone" id="accordionPhone">
                                <div class="error__message"></div> 
                            </div>

                            <div class="accordion__input-item">
                                <input type="text" class="accordion__input" placeholder="Address 1" name="address1" id="accordionAddress1">
                                <div class="error__message"></div> 
                            </div>

                            <div class="accordion__input-item">
                                <input type="text" class="accordion__input" placeholder="Address 2" name="address2" id="accordionAddress2">
                                <div class="error__message"></div> 
                            </div>
                        
                            <div class="accordion__city">
                                <div class="accordion__input-item">
                                    <input type="text" class="accordion__input" placeholder="City" name="city" id="accordionCity">
                                    <div class="error__message"></div> 
                                </div>

                                <div class="accordion__input-item">
                                    <input type="number" class="accordion__input" placeholder="Zip Code" name="zip_code" id="accordionCode">
                                    <div class="error__message"></div> 
                                </div>
                            </div>

                            <div class="sort">
                                <button class="sort__btn" id="accordionCountry">Country</button>
                            
                                <div class="sort__inner">
                                    <ul class="sort-sub">
                                        <li class="sort-sub__item">
                                            <a href="#" class="sort-sub__link">Argentina</a>
                                        </li>
                            
                                        <li class="sort-sub__item">
                                            <a href="#" class="sort-sub__link">Australia</a>
                                        </li>
                            
                                        <li class="sort-sub__item">
                                            <a href="#" class="sort-sub__link">Brazil</a>
                                        </li>
                            
                                        <li class="sort-sub__item">
                                            <a href="#" class="sort-sub__link">Canada</a>
                                        </li>
                            
                                        <li class="sort-sub__item">
                                            <a href="#" class="sort-sub__link">China</a>
                                        </li>

                                        <li class="sort-sub__item">
                                            <a href="#" class="sort-sub__link">France</a>
                                        </li>

                                        <li class="sort-sub__item">
                                            <a href="#" class="sort-sub__link">Germany</a>
                                        </li>

                                        <li class="sort-sub__item">
                                            <a href="#" class="sort-sub__link">India</a>
                                        </li>

                                        <li class="sort-sub__item">
                                            <a href="#" class="sort-sub__link">Japan</a>
                                        </li>

                                        <li class="sort-sub__item">
                                            <a href="#" class="sort-sub__link">USA</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="error__message"></div> 
                            
                            <div class="error__form">An error has occurred</div>
                            <div class="success__form">The form is filled out correctly</div>

                            <button class="accordion__btn" id="btnBasic">Continue</button>
                        </div>
                    </div>
                </div>

                <div class="accordion active" id="accordionShipping">
                    <div class="accordion__header">
                        <h3 class="accordion__title">Shipping</h3>

                        <img src="../assets/images/arrow_top.svg" alt="Arrow top" class="accordion__arrow">
                    </div>

                    <div class="accordion__container">
                        <div class="accordion__inner">
                            <div class="accordion__radio-item">
                                <input type="radio" class="accordion__radio-input" name="delivery" id="delivery1">
                                <label class="accordion__radio-label" for="delivery1">
                                    <div class="accordion__radio-content">
                                        <div class="accordion__radio-checkbox"></div>

                                        <div class="accordion__radio-info">
                                            <h6 class="accordion__radio-title">UPS Express</h6>
                                            <p class="accordion__radio-text">
                                                UPS Express 2-3 working days
                                            </p>
                                        </div>
                                    </div>

                                    <div class="accordion__radio-price">$49.99</div>
                                </label>
                            </div>

                            <div class="accordion__radio-item">
                                <input type="radio" class="accordion__radio-input" name="delivery" id="delivery2">
                                <label class="accordion__radio-label" for="delivery2">
                                    <div class="accordion__radio-content">
                                        <div class="accordion__radio-checkbox"></div>

                                        <div class="accordion__radio-info">
                                            <h6 class="accordion__radio-title">UPS Standard</h6>
                                            <p class="accordion__radio-text">
                                                UPS Express 2-3 working days
                                            </p>
                                        </div>
                                    </div>

                                    <div class="accordion__radio-price">Free</div>
                                </label>
                            </div>

                            <div class="error__form">An error has occurred</div>
                            <div class="success__form">The form is filled out correctly</div>
                            <button class="accordion__btn" id="btnShipping">Continue</button>
                        </div>
                    </div>
                </div>

                <div class="accordion active" id="accordionPayment">
                    <div class="accordion__header">
                        <h3 class="accordion__title">Payment</h3>

                        <img src="../assets/images/arrow_top.svg" alt="Arrow top" class="accordion__arrow">
                    </div>

                    <div class="accordion__container">
                        <div class="accordion__inner">
                            <div class="accordion__payment-item">
                                <input type="radio" class="accordion__payment-input" name="payment" id="payment1">
                            
                                <label for="payment1" class="accordion__payment-label">
                                    <div class="accordion__payment-checkbox"></div>

                                    <div class="accordion__payment-content">
                                        <h6 class="accordion__payment-name">Credit Card</h6>

                                        <div class="accordion__payment-images">
                                            <div class="accordion__payment-bg">
                                                <img src="../assets/images/payment1.svg" alt="Payment 1" class="accordion__payment-img">
                                            </div>

                                            <div class="accordion__payment-bg">
                                                <img src="../assets/images/payment2.svg" alt="Payment 2" class="accordion__payment-img">
                                            </div>

                                            <div class="accordion__payment-bg">
                                                <img src="../assets/images/payment3.svg" alt="Payment 3" class="accordion__payment-img">
                                            </div>

                                            <div class="accordion__payment-bg">
                                                <img src="../assets/images/payment4.svg" alt="Payment 4" class="accordion__payment-img">
                                            </div>

                                            <div class="accordion__payment-bg">
                                                <img src="../assets/images/payment5.svg" alt="Payment 5" class="accordion__payment-img">
                                            </div>

                                            <div class="accordion__payment-bg">
                                                <img src="../assets/images/payment6.svg" alt="Payment 6" class="accordion__payment-img">
                                            </div>

                                            <div class="accordion__payment-bg">
                                                <img src="../assets/images/payment10.svg" alt="Payment 10" class="accordion__payment-img">
                                            </div>

                                            <div class="accordion__payment-bg">
                                                <img src="../assets/images/payment8.svg" alt="Payment 8" class="accordion__payment-img">
                                            </div>

                                            <div class="accordion__payment-bg">
                                                <img src="../assets/images/payment9.svg" alt="Payment 9" class="accordion__payment-img">
                                            </div>
                                        </div>
                                    </div>
                                </label>
                            </div>

                            <div class="accordion__payment-item">
                                <input type="radio" class="accordion__payment-input" name="payment" id="payment2">
                            
                                <label for="payment2" class="accordion__payment-label">
                                    <div class="accordion__payment-checkbox"></div>

                                    <div class="accordion__payment-content">
                                        <h6 class="accordion__payment-name">PayPal</h6>

                                        <div class="accordion__payment-images">
                                            <div class="accordion__payment-bg">
                                                <img src="../assets/images/payment7.svg" alt="Payment 7" class="accordion__payment-img">
                                            </div>
                                        </div>
                                    </div>
                                </label>

                                <div class="error__message"></div> 
                            </div>

                            <div class="accordion__input-item">
                                <input type="text" class="accordion__input" placeholder="Card Number" name="card_number" id="accordionCard">
                                <div class="error__message"></div> 
                            </div>
                        
                            <div class="accordion__card">
                                <div class="accordion__input-item">
                                    <input type="text" class="accordion__input" placeholder="Expiry Date 'mm-yy'" name="date" id="accordionDate">
                                    <div class="error__message"></div> 
                                </div>

                                <div class="accordion__input-item">
                                    <input type="number" class="accordion__input" placeholder="CVC / CVV" name="cvc" id="accordionCVC">
                                    <div class="error__message"></div> 
                                </div>
                            </div>

                            <p class="accordion__card-text">
                                Non-EU countries are subject to certain VAT and customs duties.
                            </p>

                            <div class="error__form">An error has occurred</div>
                            <div class="success__form">The form is filled out correctly</div>
                            <button class="accordion__btn" id="btnPayment">Complete Payment</button>

                            <p class="accordion__card-agree">
                                By placing your order you agree to our <a href="#" target="_blank">Terms & Conditions</a> and you understand that we will 
                                process your personal data on the basis of our <a href="#" target="_black">Privacy Policy</a>. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="checkout__right">
                <div class="checkout__order">
                    <div class="checkout__info">
                        <div class="cart-product__item">
                            <div class="cart-product__photo">
                                <picture>
                                    <source srcset="../assets/images/cart1.webp" type="image/webp">
                                    <img src="../assets/images/cart1.png" alt="Product 1" class="cart-product__img">
                                </picture>
                
                            </div>
                
                            <div class="cart-product__content">
                                <h5 class="cart-product__title">Urban Eagle Urban Eagle Urban Eagle Urban Eagle Urban Eagle Urban Eagle Urban Eagle</h5>
                                <p class="cart-product__brand">Volumenzeit S 7</p>
                                <div class="cart-product__price">$15,588</div>
                
                                <div class="cart-product__colors">
                                    <div class="cart-product__color">
                                        <div class="cart-product__color-example black"></div>
                                        <div class="cart-product__color-text">Case Color</div>
                                    </div>
                
                                    <div class="cart-product__color">
                                        <div class="cart-product__color-example orange"></div>
                                        <div class="cart-product__color-text">Strap Colors</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                        <div class="cart-product__item">
                            <div class="cart-product__photo">
                                <picture>
                                    <source srcset="../assets/images/cart2.webp" type="image/webp">
                                    <img src="../assets/images/cart2.png" alt="Product 2" class="cart-product__img">
                                </picture>
                
                            </div>
                
                            <div class="cart-product__content">
                                <h5 class="cart-product__title">Urban Eagle Urban Eagle Urban Eagle Urban Eagle Urban Eagle Urban Eagle Urban Eagle</h5>
                                <p class="cart-product__brand">Volumenzeit S 7</p>
                                <div class="cart-product__price">$15,588</div>
                
                                <div class="cart-product__colors">
                                    <div class="cart-product__color">
                                        <div class="cart-product__color-example black"></div>
                                        <div class="cart-product__color-text">Case Color</div>
                                    </div>
                
                                    <div class="cart-product__color">
                                        <div class="cart-product__color-example orange"></div>
                                        <div class="cart-product__color-text">Strap Colors</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="checkout__item">
                            <div class="checkout__photo">
                                <img src="../assets/images/box.svg" alt="" class="checkout__img">
                            </div>

                            <div class="checkout__content">
                                <p class="checkout__name">Shipping & handling</p>
                                <div class="checkout__price">$25.00</div>
                            </div>
                        </div>

                        <div class="checkout__item">
                            <div class="checkout__photo">
                                <img src="../assets/images/tax.svg" alt="" class="checkout__img">
                            </div>

                            <div class="checkout__content">
                                <p class="checkout__name">TAX</p>
                                <div class="checkout__price">$00</div>
                            </div>
                        </div>
                    </div>

                    <div class="error__form checkout__error">An error has occurred</div>
                    <button class="checkout__sum" id="btnTotal"><span>$24,588</span> <br> Grand Total</button>
                </div>

                <h3 class="checkout__coupon-title">Apply Coupon</h3>
                <input type="text" class="accordion__input" placeholder="Coupon Code" name="coupon" id="accordionCoupon">
                <div class="error__message"></div> 
            </div>
        </form>
    </div>
</div>