<section class="contact">
    <div class="container">
        <div class="contact__inner">
            <div class="contact__content">
                <h1 class="contact__title title">Contact us</h1>

                <p class="contact__subtitle">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim facilisi 
                    elementum commodo ipsum. Aenean aenean adipiscing lect
                </p>

                <form action="post" class="contact__form">
                    <div class="contact__inputs">
                        <div class="contact__input-item">
                            <input type="text" class="contact__input" placeholder="Full Name" name="name" id="contactName">
                            <div class="error__message"></div>
                        </div>

                        <div class="contact__input-item">
                            <input type="email" class="contact__input" placeholder="Email" name="email" id="contactEmail">
                            <div class="error__message"></div>
                        </div>

                        <div class="contact__input-item">
                            <textarea class="contact__message" name="message" placeholder="Message" id="contactMessage"></textarea>
                            <div class="error__message"></div>
                        </div>
                    </div>

                    <div class="error__form">Произошла ошибка</div>
                    <button class="contact__btn">Send Message</button>
                </form>
            </div>

            <div class="contact__photo">
                <div class="contact__circle">
                    <img src="../assets/images/airplane.svg" alt="Airplane" class="contact__airplane">
                </div>

                <picture>
                    <source srcset="../assets/images/contact.webp" type="image/webp">
                    <img src="../assets/images/contact.png" alt="Main photo" class="contact__img">
                </picture>
            </div>
        </div>
    </div>
</section>