<section class="design">
    <div class="container">
        <h2 class="design__title">Design your Watch</h2>

        <div class="design__inner">
            <div class="design__line"></div>

            <ul class="design__items">
                <li class="design__item">
                    <span class="design__bg"></span>
                    1
                </li>
                <li class="design__item">
                    <span class="design__bg"></span>
                    2
                </li>
                <li class="design__item">
                    <span class="design__bg"></span>
                    3
                </li>
                <li class="design__item">
                    <span class="design__bg"></span>
                    4
                </li>
            </ul>
        </div>

        <div class="design__btn-container">
            <a href="buildWatch.html" class="design__btn">Design Your Watch</a>
        </div>
    </div>
</section>