<div class="guarantee">
    <div class="container">
        <div class="guarantee__inner">
            <div class="guarantee__item">
                <img src="../assets/images/guarantee1.svg" alt="Guarantee 1" class="guarantee__img">

                <div class="guarantee__content">
                    <h6 class="guarantee__title">72h Delivery Time</h6>
                    <p class="guarantee__text">
                        We Promiste delivery time up to 72 hours anywhere in USA
                    </p>
                </div>
            </div>

            <div class="guarantee__item">
                <img src="../assets/images/guarantee2.svg" alt="Guarantee 2" class="guarantee__img">

                <div class="guarantee__content">
                    <h6 class="guarantee__title">Money Back</h6>
                    <p class="guarantee__text">
                        If product is damaged or something is wrong
                    </p>
                </div>
            </div>

            <div class="guarantee__item">
                <img src="../assets/images/guarantee3.svg" alt="Guarantee 3" class="guarantee__img">

                <div class="guarantee__content">
                    <h6 class="guarantee__title">Warrnity</h6>
                    <p class="guarantee__text">
                        We offer 2 years warrnity on every watch custom or pre buit
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>