<div class="header__fake"></div>
<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="index.html" class="header__logo">
                <picture>
                    <source srcset="../assets/images/logo.webp" type="image/webp">
                    <img src="../assets/images/logo.png" alt="Logo" class="header__img">
                </picture>
            </a>

            <div class="header__left">
                <nav class="nav">
                    <a href="watches.html" class="nav__item">Watches</a>
                    <a href="accessories.html" class="nav__item">Accessories</a>
                    <a href="contact.html" class="nav__item">Contact Us</a>
                    <a href="delivery.html" class="nav__item">Delivery</a>
                    <a href="account.html" class="nav__item nav__item--mobile" id="accountMobile">
                        <svg class="nav__svg">
                            <use xlink:href="#account"></use>
                        </svg>
                        <span>My account</span>
                    </a>
                    <a href="cart.html" class="nav__item nav__item--mobile">
                        <svg class="nav__svg">
                            <use xlink:href="#cart"></use>
                        </svg>
                        <span>Cart</span>
                    </a>
                    <a href="buildWatch.html" class="nav__btn">Design Your Watch</a>
                    <a href="authorizatioin.html#login" class="nav__authorization" id="authMobile">Sign In / Register</a>
                </nav>

                <a href="buildWatch.html" class="header__btn">Design you watch</a>

                <div class="header__link-icon" id="accountTablet">
                    <a href="account.html">
                        <svg class="header__svg">
                            <use xlink:href="#account"></use>
                        </svg>
                    </a>

                    <div class="authorization">
                        <div class="authorization__inner">
                            <a href="authorization.html#login" class="authorization__btn">Login</a>
                            <a href="authorization.html#reg" class="authorization__btn">Sign Up</a>
                        </div>
                    </div>
                </div>

                <a href="cart.html" class="header__link-icon header__cart">
                    <svg class="header__svg">
                        <use xlink:href="#cart"></use>
                    </svg>

                    <div class="header__notice">4</div>
                </a>

                <button class="burger">
                    <div class="burger__item"></div>
                </button>
            </div>
        </div>
    </div>
</header>
