<section class="intro">
    <picture>
        <source srcset="../assets/images/intro1.webp" type="image/webp">
        <img src="../assets/images/intro1.png" alt="Watch" class="intro__img">
    </picture>

    <div class="intro__container container">
        <div class="intro__inner">
            <div class="intro__content">
                <h1 class="intro__title">Find your dream watch</h1>

                <p class="intro__subtitle">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim 
                    facilisi elementum commodo ipsum. Aenean aenean adipiscing lect
                </p>

                <div class="intro__container-btn">
                    <a href="buildWatch.html" class="intro__btn">Design your watch</a>
                </div>

                <div class="intro__social">
                    {{> social}}
                </div>
            </div>
        </div>
    </div>
</section>