<section class="mission">
    <img src="../assets/images/mission_bg1.png" alt="" class="mission__img-bg">
    <img src="../assets/images/mission.png" alt="" class="mission__img">
    <div class="container">
        <div class="mission__inner">
            <h2 class="mission__title">Our mission</h2>

            <p class="mission__text">
                We have invested 6 year of our lifes to invent a new technology of production a 3D dials with quality of wristwatch industry.
                All what we need to turn on our imagination on maximum.
            </p>

            <p class="mission__text">
                We love Out-of-the-box designs and believe there are many people who thinks the same.
            </p>

            <div class="mission__container-btn">
                <a href="buildWatch.html" class="mission__btn">Design Your Watch</a>
            </div>
        </div>
    </div>
</section>