<div class="modal" id="modalOrder">
    <div class="modal__container">
        <div class="modal__content">
            <h2 class="modal__title">Thanks For ORdering</h2>
            <p class="modal__subtitle">
                Your order is on the ready and we will ship it asap! Important: This site is a portfolio, so real payments are not possible. But we are glad that you appreciated the functionality and added the product to the list of "paid" for demonstration.
            </p>
            <a href="index.html" class="modal__btn">Return to Homepage</a>
        </div>

        <img src="../assets/images/modal.svg" alt="Modal background" class="modal__img">
    </div>
</div>