<div class="products">
    <div class="container">
        <div class="products__inner">
            <div class="products__filter--mobile">
                Filters

                <button class="products__filter-btn">
                    <img src="../assets/images/arrow_top.svg" alt="Arrow top" class="products__arrow">
                </button>
            </div>
            
            <div class="products__filter">
                {{> filter}}
            </div>

            <div class="products__content">
                <div class="products__sort">
                    <div class="sort">
                        <button class="sort__btn">Sort By</button>
                    
                        <div class="sort__inner">
                            <ul class="sort-sub">
                                <li class="sort-sub__item">
                                    <a href="#" class="sort-sub__link">Recommended</a>
                                </li>
                    
                                <li class="sort-sub__item">
                                    <a href="#" class="sort-sub__link">Whats New</a>
                                </li>
                    
                                <li class="sort-sub__item">
                                    <a href="#" class="sort-sub__link">Popularity</a>
                                </li>
                    
                                <li class="sort-sub__item">
                                    <a href="#" class="sort-sub__link">Price Low to High</a>
                                </li>
                    
                                <li class="sort-sub__item">
                                    <a href="#" class="sort-sub__link">Price High to Low</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="products__container">
                    <div class="products__items">
                        <article class="product-item">
                            <div class="product-item__photo">
                                <picture>
                                    <source srcset="../assets/images/watches1.webp" type="image/webp">
                                    <img src="../assets/images/watches1.png" alt="Watch" class="product__img">
                                </picture>
                                
                                <a href="product.html" class="product-item__hover">
                                    <img src="../assets/images/products_cart.svg" alt="Cart" class="product-item__cart">

                                    <p class="product-item__order">Order Watch</p>
                                </a>
                            </div>
                            
                            <div class="product-item__info">
                                <p class="product-item__name">Urban Eagle Urban Eagle Urban Eagle Urban Eagle Urban Eagle Urban Eagle Urban Eagle Urban Eagle Urban Eagle</p>
                                <p class="product-item__brand">Lavander Spark Lavander Spark Lavander Spark Lavander Spark Lavander Spark Lavander Spark Lavander Spark</p>
                                <p class="product-item__price">$20,588</p>
                            </div>
                        </article>

                        <article class="product-item">
                            <div class="product-item__photo">
                                <picture>
                                    <source srcset="../assets/images/watches2.webp" type="image/webp">
                                    <img src="../assets/images/watches2.png" alt="Watch" class="product__img">
                                </picture>
                                
                                <a href="product.html" class="product-item__hover">
                                    <img src="../assets/images/products_cart.svg" alt="Cart" class="product-item__cart">

                                    <p class="product-item__order">Order Watch</p>
                                </a>
                            </div>
                            
                            <div class="product-item__info">
                                <p class="product-item__name">Urban Eagle</p>
                                <p class="product-item__brand">Lavander Spark</p>
                                <p class="product-item__price">$20,588</p>
                            </div>
                        </article>

                        <article class="product-item">
                            <div class="product-item__photo">
                                <picture>
                                    <source srcset="../assets/images/watches1.webp" type="image/webp">
                                    <img src="../assets/images/watches1.png" alt="Watch" class="product__img">
                                </picture>
                                
                                <a href="product.html" class="product-item__hover">
                                    <img src="../assets/images/products_cart.svg" alt="Cart" class="product-item__cart">

                                    <p class="product-item__order">Order Watch</p>
                                </a>
                            </div>
                            
                            <div class="product-item__info">
                                <p class="product-item__name">Urban Eagle</p>
                                <p class="product-item__brand">Lavander Spark</p>
                                <p class="product-item__price">$20,588</p>
                            </div>
                        </article>

                        <article class="product-item">
                            <div class="product-item__photo">
                                <picture>
                                    <source srcset="../assets/images/watches1.webp" type="image/webp">
                                    <img src="../assets/images/watches1.png" alt="Watch" class="product__img">
                                </picture>
                                
                                <a href="product.html" class="product-item__hover">
                                    <img src="../assets/images/products_cart.svg" alt="Cart" class="product-item__cart">

                                    <p class="product-item__order">Order Watch</p>
                                </a>
                            </div>
                            
                            <div class="product-item__info">
                                <p class="product-item__name">Urban Eagle</p>
                                <p class="product-item__brand">Lavander Spark</p>
                                <p class="product-item__price">$20,588</p>
                            </div>
                        </article>
                    </div>

                    <div class="products__footer">
                        <div class="products__pagination-container">
                            <div class="products__pagination">1</div>
                            <div class="products__pagination">2</div>
                            <div class="products__pagination">3</div>
                            <div class="products__pagination">4</div>
                            <div class="products__pagination">5</div>
                            <div class="products__pagination">6</div>
                            <div class="products__pagination">7</div>
                            <div class="products__pagination">8</div>
                            <div class="products__pagination">9</div>
                            <div class="products__pagination">10</div>
                            <div class="products__pagination">11</div>

                            <div class="products__pagination-ellipsis">...</div>

                            <div class="products__pagination">20</div>
                        </div>
            
                        <a href="buildWatch.html" class="products__btn">Design Your Watch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>