<div class="product">
    <div class="container">
        <div class="product__inner">
            <div class="product__slider-container swiper-container">
                <div class="product__slider swiper-wrapper">
                    <div class="product__slide swiper-slide">
                        <div class="product__slide-photo">
                            <img src="../assets/images/product1.png" alt="Product" class="product__slide-img">
                        </div>
                    </div>

                    <div class="product__slide swiper-slide">
                        <div class="product__slide-photo">
                            <img src="../assets/images/product2.png" alt="Product" class="product__slide-img">
                        </div>
                    </div>

                    <div class="product__slide swiper-slide">
                        <div class="product__slide-photo">
                            <img src="../assets/images/product3.png" alt="Product" class="product__slide-img">
                        </div>
                    </div>

                    <div class="product__slide swiper-slide">
                        <div class="product__slide-photo">
                            <img src="../assets/images/product4.png" alt="Product" class="product__slide-img">
                        </div>
                    </div>
                    
                    <div class="product__slide swiper-slide">
                        <div class="product__slide-photo">
                            <img src="../assets/images/product5.png" alt="Product" class="product__slide-img">
                        </div>
                    </div>

                    <div class="product__slide swiper-slide">
                        <div class="product__slide-photo">
                            <img src="../assets/images/product6.png" alt="Product" class="product__slide-img">
                        </div>
                    </div>
                </div>

                <div class="product__arrows">
                    <button class="product__arrow product__arrow--prev">
                        <svg class="product__arrow-svg">
                            <use xlink:href="#prev"></use>
                        </svg>
                    </button>
        
                    <button class="product__arrow product__arrow--next">
                        <svg class="product__arrow-svg">
                            <use xlink:href="#next"></use>
                        </svg>
                    </button>
                </div>
            </div>

            <div class="product__photos">
                <div class="product__photo">
                    <picture>
                        <source srcset="../assets/images/product1.webp" type="image/webp">
                        <img src="../assets/images/product1.png" alt="Product" class="product__img">
                    </picture>
                </div>

                <div class="product__photo">
                    <picture>
                        <source srcset="../assets/images/product2.webp" type="image/webp">
                        <img src="../assets/images/product2.png" alt="Product" class="product__img">
                    </picture>
                </div>

                <div class="product__photo">
                    <picture>
                        <source srcset="../assets/images/product3.webp" type="image/webp">
                        <img src="../assets/images/product3.png" alt="Product" class="product__img">
                    </picture>
                </div>

                <div class="product__photo">
                    <picture>
                        <source srcset="../assets/images/product4.webp" type="image/webp">
                        <img src="../assets/images/product4.png" alt="Product" class="product__img">
                    </picture>
                </div>

                <div class="product__photo">
                    <picture>
                        <source srcset="../assets/images/product5.webp" type="image/webp">
                        <img src="../assets/images/product5.png" alt="Product" class="product__img">
                    </picture>
                </div>

                <div class="product__photo">
                    <picture>
                        <source srcset="../assets/images/product6.webp" type="image/webp">
                        <img src="../assets/images/product6.png" alt="Product" class="product__img">
                    </picture>
                </div>
            </div>

            <div class="product__info">
                <h2 class="product__name">Urban Eagle</h2>
                <p class="product__brand">Lavander Spark</p>

                <p class="product__description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Enim facilisi 
                    elementum commodo ipsum. Aenean aenean adipiscing lect
                </p>

                <ul class="product__specifications specification">
                    <li class="product__specification specification__item">
                        <span class="product__specification-name">Case:</span>
                        <span class="product__specification-value">316L Stainless-steel</span>
                    </li>

                    <li class="product__specification specification__item">
                        <span class="product__specification-name">Coating:</span>
                        <span class="product__specification-value">Color anodized anti-scratch</span>
                    </li>

                    <li class="product__specification specification__item">
                        <span class="product__specification-name">Glass:</span>
                        <span class="product__specification-value">Sapphire Crystal</span>
                    </li>

                    <li class="product__specification specification__item">
                        <span class="product__specification-name">Straps:</span>
                        <span class="product__specification-value">22mm Stainless-steel bracelet</span>
                    </li>

                    <li class="product__specification specification__item">
                        <span class="product__specification-name">Case Size:</span>
                        <span class="product__specification-value">42mm</span>
                    </li>

                    <li class="product__specification specification__item">
                        <span class="product__specification-name">Case Color:</span>
                        <span class="product__specification-value">chamfered brush with mirror polish</span>
                    </li>

                    <li class="product__specification specification__item">
                        <span class="product__specification-name">Dial Color:</span>
                        <span class="product__specification-value">Black Metallic</span>
                    </li>
                    
                    <li class="product__specification specification__item">
                        <span class="product__specification-name">Water Resistance:</span>
                        <span class="product__specification-value">5 ATM/50 meters</span>
                    </li>

                    <li class="product__specification specification__item">
                        <span class="product__specification-name">Straps:</span>
                        <span class="product__specification-value">Quick release</span>
                    </li>

                    <li class="product__specification specification__item">
                        <span class="product__specification-name">Movement:</span>
                        <span class="product__specification-value">Movement: Swiss Parts RONDA 762E</span>
                    </li>

                    <li class="product__specification specification__item">
                        <span class="product__specification-name">Instantaneous rate:</span>
                        <span class="product__specification-value">-10/ +20 sec/month</span>
                    </li>

                    <li class="product__specification specification__item">
                        <span class="product__specification-name">Standard Battery life:</span>
                        <span class="product__specification-value">10 years</span>
                    </li>
                </ul>

                <div class="product__order">
                    <button class="product__order-btn">Place an Order</button>
                    <div class="product__order-price">$15,588</div>
                </div>

                <a href="buildWatch.html" class="product__btn">Design Your Watch</a>
            </div>
        </div>
    </div>
</div>