<section class="watches">
    <div class="container">
        <h2 class="watches__title">Watches</h2>

        <p class="watches__subtitle">
            Volumenzeit gives you a total of 48 style combinations with 4 dial types, 4 dial colors, 3 case colors,
            multiple stylish strap combinations, and customized engraving options.
        </p>

        <div class="watches__inner swiper-container">
            <div class="watches__slider swiper-wrapper">
                <div class="watches__slide swiper-slide">
                    <div class="watches__img-container">
                        <picture>
                            <source srcset="../assets/images/watches1.webp" type="image/webp">
                            <img src="../assets/images/watches1.png" alt="Watch" class="watches__img">
                        </picture>
                    </div>
                
                    <div class="watches__name">Volumenzeit S 2</div>

                    <div class="watches__price">$17,588</div>
                </div>
                
                <div class="watches__slide swiper-slide">
                    <div class="watches__img-container">
                        <picture>
                            <source srcset="../assets/images/watches2.webp" type="image/webp">
                            <img src="../assets/images/watches2.png" alt="Watch" class="watches__img">
                        </picture>
                    </div>
                
                    <div class="watches__name">Volumenzeit S 6</div>

                    <div class="watches__price">$20,588</div>
                </div>

                <div class="watches__slide swiper-slide">
                    <div class="watches__img-container">
                        <picture>
                            <source srcset="../assets/images/watches1.webp" type="image/webp">
                            <img src="../assets/images/watches1.png" alt="Watch" class="watches__img">
                        </picture>
                    </div>
                
                    <div class="watches__name">Volumenzeit S 7</div>

                    <div class="watches__price">$15,588</div>
                </div>

                <div class="watches__slide swiper-slide">
                    <div class="watches__img-container">
                        <picture>
                            <source srcset="../assets/images/watches2.webp" type="image/webp">
                            <img src="../assets/images/watches2.png" alt="Watch" class="watches__img">
                        </picture>
                    </div>
                
                    <div class="watches__name">Volumenzeit S 2</div>

                    <div class="watches__price">$17,588</div>
                </div>
            </div>

            <div class="watches__footer">
                <div class="watches__arrows">
                    <button class="watches__arrow watches__arrow--prev">
                        <svg class="watches__arrow-svg">
                            <use xlink:href="#prev"></use>
                        </svg>
                    </button>
        
                    <button class="watches__arrow watches__arrow--next">
                        <svg class="watches__arrow-svg">
                            <use xlink:href="#next"></use>
                        </svg>
                    </button>
                </div>

                <a href="buildWatch.html" class="watches__btn">Design Your Watch</a>
            </div>
        </div>
    </div>
</section>